:root{
    --succes-color: #00ff00;
    --error-color: #ff000;
    --Cetacean-Blue:#050058;
    --Navy-Blue:#000182 ;
    --Azureish-White:#D9EAF5 ;
    --White :#fff;
    --Chinese-Gold:#CE9B01 ;
    --Black:#000000;
    --Warm-Brown :#453D0B ;
    --Dark-Blue:#0C468B ;

}