@import "./colors.css";


.footer {
  height: fit-content;
  position: absolute;
  top: 90vh;

  background-color: #040404;
}
.footer-contaner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-left {
  width: 40%;
  margin-left: 20px;

  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

@media only screen and (max-width: 768px) {
  .footer-contaner {
    flex-direction: column;
  }
  .footer-left {
    margin: 25px 25px;
    width: 90%;
  }
}
