.social {
	display: flex;
	align-items: center;
	gap: 7px;
	padding: 7px;
}



.footer {
	width: 100%;
	background: var(--Black);
	padding: 10px;
}

.footerContainer {
	display: flex;
	justify-content: space-between;
	flex-direction: column-reverse;
	align-items: center;
}

.footerText {
	padding: 20px;
}

@media only screen and (min-width: 768px) {
	.footerText {
		max-width: 50%;
	}
	.footerContainer {
		flex-direction: row;
	}
}

@media only screen and (min-width: 1300px) {
	.footerText {
		max-width: 50%;
	}
}

@media only screen and (min-width: 2000px) {
	.social > img {
		width: 50px;
	}
	.footerText {
		max-width: 70%;
	}
}
