.HeaderContainer {
	margin: 20px 90px;
	justify-content: space-between;
	gap: 120px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: var(--White);
	align-items: center;
}

.HeaderLogo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.HeaderLogo > p {
	font-weight: 700;
	font-size: 1.25rem;
	color: var(--Gold);
}

.HeaderLogo > img {
	width: 73px;
}

.HeaderBtn {
	display: none;
	position: absolute;
	height: 100vh;
	background: rgba(0, 0, 0, 0.65);
	width: 50%;
	top: 0;
	right: 0;
	z-index: 8;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-size: 1.25rem;
	font-weight: 500;
	font-family: "Poppins", sans-serif;
}

.show {
	display: flex;
}
.HeaderBtn a {
	color: var(--White);
	text-decoration: none;
}

.humberMenu {
	display: block;
	height: 70%;
	z-index: 10;
	background-color: inherit;
}

@media only screen and (min-width: 768px) {
	.HeaderContainer {
		display: flex;
		flex-direction: row;
		color: var(--White);
		align-items: center;
		justify-content: space-between;
		gap: 180px;
	}

	.HeaderBtn {
		display: flex;
		position: static;
		height: fit-content;
		background: inherit;
		flex-direction: row;
		font-size: 1.5rem;
		justify-content: space-between;
		gap: 30px;
	}
	.HeaderLogo > p {
		font-size: 1.8rem;
	}

	.humberMenu {
		display: none;
	}
}

@media only screen and (min-width: 1300px) {
	.HeaderBtn {
		font-size: 2.8rem;
	}
	.HeaderLogo > p {
		font-size: 3rem;
	}

	.HeaderLogo > img {
		width: 93px;
	}
}

@media only screen and (min-width: 2000px) {
	.HeaderLogo img {
		width: 130px;
	}

	.HeaderLogo > p {
		font-size: 5rem;
	}
}
