.HeaderContainer {
 
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--White);
  align-items: center;
  justify-content:center ;
  gap: 400px;
}

.HeaderBtn {
  
  display: flex;
  gap: 90px;
  font-size: 30px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  align-items: center;
}

.HeaderBtn a {
  color: var(--White);
  text-decoration: none;
  
}

.humbermenu {
  display: none;
  background-color: inherit;
}

.HeaderLogo {
  color: var(--Chinese-Gold);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 45px;
  gap: 20px;
}

.HeaderLogo img {
  position: relative;
  top: 10px;
}

@media only screen and (max-width: 1500px) {
  .HeaderLogo {
    font-size: 30px;
}

.HeaderLogo img {
    width: 80px;
}

.HeaderBtn {
    font-size: 20px;
}
}

@media only screen and (max-width: 1310px) {
  .HeaderLogo {
      font-size: 24px;
  }
  .HeaderContainer {
   gap: 250px;
}


  .HeaderLogo img {
      width: 60px;
  }

  .HeaderBtn {
      font-size:16px;
      gap: 73px;
  }
}

@media only screen and (max-width: 768px) {
  .HeaderContainer {
    margin: 20px;
      justify-content:space-between ;
      gap: 200px;

  }
  

  .HeaderBtn {
      display: none;
  }

  .humbermenu {
      display: block;
      height: 70%;
      z-index: 10;
  }

  .HeaderLogo {
      font-size: 20px;
  }

  .HeaderLogo img {
      width: 53px;
  }

  .HeaderBtn {
      position: absolute;
      height: 100vh;
      background: rgba(0, 0, 0, 0.65);
      width: 50vw;
      flex-direction: column;
      top: 0;
      right: 0;
      z-index: 8;
      justify-content: center;
      gap: 20px;
  }

  .show{
      display: flex;
  }
}





