@import "./colors.css";

body {
  z-index: -1;
  background-image: url("./../../public/bg-image.svg");
  background-size: cover;
  color: var(--White);
  height: 100vh;
  overflow: hidden;
}

.contaner {
  display: flex;
  flex-direction: column;
  position: relative;

  justify-content: space-between;
}

.hero {
  height: fit-content;

  margin: 25px 25px;
  background: rgba(1, 1, 31, 0.571);
  display: flex;
  border-radius: 45px;
  align-items: center;
}

.p1 {
  padding-left: 20px;
  font-size: 45px;
  font-weight: 700;
}
.p2 {
  padding-left: 20px;
  font-size: 100px;
  font-weight: 700;
}
.p3 {
  padding-left: 20px;
  width: 90%;

  font-size: 40px;
  font-weight: 500;
}

@media only screen and (max-width: 1200px) {
  .hero-img {
    width: 539px;
  }
  .p1 {
    margin-top: 50px;
    font-size: 30px;
  }
  .p2 {
    font-size: 50px;
  }
  .p3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
  body {
    overflow: scroll;
  }
  .hero {
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero-img {
    width: 465px;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 576px) {
  .hero-img {
    width: 359px;
  }
}
