.userDetail {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 185px;
	z-index: 1000;
	flex-direction: column;
	gap: 20px;
}

.profile {
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-items: center;
	padding: 20px;
}
.detail {
	color: var(--Gold);
}
.userImg {
	width: 300px;
	padding: 20px;
}
.description {
	display: flex;
	gap: 40px;
	padding: 40px;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.2);
}

@media only screen and (min-width: 768px) {
	.userDetail {
		flex-direction: row;
		margin: 30px 0;
		align-items: end;
	}
	.profile {
		gap: 70px;
	}

	.userImg {
		width: 400px;
	}
	.description {
		gap: 70px;
	}
}

@media only screen and (min-width: 1300px) {
	.userDetail {
		flex-direction: row;
		margin: 30px 0;
		align-items: end;
	}
	.profile {
		gap: 70px;
	}
	.userImg {
		width: 500px;
		height: 500px;
	}
	.description {
		gap: 70px;
	}
}

@media only screen and (min-width: 2000px) {
	.userDetail {
		flex-direction: row;
		margin: 30px 0;
		align-items: end;
	}
	.profile {
		gap: 70px;
	}

	.userImg {
		width: 600px;
	}
	.description {
		gap: 70px;
	}
}
