body{
    background-color: var(--Dark-Blue);
}

.userContainer{
    display: flex;
    
  
    gap: 180px;
    padding: 90px;
    flex-wrap: wrap;
    justify-content: center;

}

@media only screen and (max-width: 1610px) {
    .userContainer{
        
        
      
        gap: 180px;
        padding: 90px;
       
    
    }
}
@media only screen and (max-width: 1510px) {
    .userContainer{
        
        
      
        gap: 75px;
        padding: 20px;
       
    
    }
}

@media only screen and (max-width: 1310px) {
    .userContainer{
        
        
      
        gap: 35px;
        padding: 10px;
       
    
    }
}



@media only screen and (max-width: 1055px) {
    body {
        overflow: scroll;
        overflow-x: hidden;
    }

   
}